In [1]:
import pandas as pd
import sqlite3

In [2]:
df_matches = pd.read_csv('atp_tennis.csv')

In [3]:
conn = sqlite3.connect('tennis_data.db')

In [4]:
df_matches.to_sql('matches', conn, if_exists='replace', index=False)

65784

In [5]:
conn.close()

In [6]:
print("Database has been 'tennis_data.db' was successfully created and filled in!")

Database has been 'tennis_data.db' was successfully created and filled in!

In [7]:
conn = sqlite3.connect('tennis_data.db')

In [8]:
query = "SELECT * FROM matches LIMIT 5"

In [9]:
df_from_sql = pd.read_sql(query, conn)

In [10]:
conn.close()

In [11]:
display(df_from_sql)

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Score
0,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,Ljubicic I.,Dosedel S.,63,77,-1,-1,-1.0,-1.0,6-4 6-2
1,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Clement A.,Enqvist T.,Enqvist T.,56,5,-1,-1,-1.0,-1.0,3-6 3-6
2,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Escude N.,Baccanello P.,Escude N.,40,655,-1,-1,-1.0,-1.0,6-7 7-5 6-3
3,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Knippschild J.,Federer R.,Federer R.,87,65,-1,-1,-1.0,-1.0,1-6 4-6
4,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Fromberg R.,Woodbridge T.,Fromberg R.,81,198,-1,-1,-1.0,-1.0,7-6 5-7 6-4