In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('tennis_data.db')

In [3]:
query = "SELECT * FROM matches LIMIT 5"

In [4]:
df_from_sql = pd.read_sql(query, conn)

In [5]:
conn.close()

In [6]:
display(df_from_sql)

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Score
0,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,Ljubicic I.,Dosedel S.,63,77,-1,-1,-1.0,-1.0,6-4 6-2
1,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Clement A.,Enqvist T.,Enqvist T.,56,5,-1,-1,-1.0,-1.0,3-6 3-6
2,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Escude N.,Baccanello P.,Escude N.,40,655,-1,-1,-1.0,-1.0,6-7 7-5 6-3
3,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Knippschild J.,Federer R.,Federer R.,87,65,-1,-1,-1.0,-1.0,1-6 4-6
4,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Fromberg R.,Woodbridge T.,Fromberg R.,81,198,-1,-1,-1.0,-1.0,7-6 5-7 6-4

In [7]:
conn = sqlite3.connect('tennis_data.db')

In [8]:
shelton_query = """
SELECT * 
FROM matches
WHERE (Player_1 = 'Shelton B.' OR Player_2 = 'Shelton B.')
"""

In [9]:
df_shelton = pd.read_sql(shelton_query, conn)

In [10]:
conn.close()

In [11]:
display(df_shelton)

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Score
0,Atlanta Open,2022-07-26,ATP250,Outdoor,Hard,1st Round,3,Ramanathan R.,Shelton B.,Shelton B.,229,281,226,171,2.37,1.57,2-6 5-7
1,Atlanta Open,2022-07-29,ATP250,Outdoor,Hard,2nd Round,3,Isner J.,Shelton B.,Isner J.,25,281,1468,171,1.36,3.20,7-6 4-6 7-6
2,Western & Southern Financial Group Masters,2022-08-16,Masters 1000,Outdoor,Hard,1st Round,3,Sonego L.,Shelton B.,Shelton B.,56,229,810,221,1.57,2.37,6-7 6-3 5-7
3,Western & Southern Financial Group Masters,2022-08-17,Masters 1000,Outdoor,Hard,2nd Round,3,Shelton B.,Ruud C.,Shelton B.,229,5,221,4865,4.50,1.20,6-3 6-3
4,Western & Southern Financial Group Masters,2022-08-19,Masters 1000,Outdoor,Hard,3rd Round,3,Shelton B.,Norrie C.,Norrie C.,229,11,221,3065,3.00,1.40,0-6 2-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,Wimbledon,2025-07-01,Grand Slam,Outdoor,Grass,1st Round,5,Bolt A.,Shelton B.,Shelton B.,179,10,309,3130,4.00,1.25,4-6 6-7 6-7
150,Wimbledon,2025-07-04,Grand Slam,Outdoor,Grass,2nd Round,5,Shelton B.,Hijikata R.,Shelton B.,10,87,3130,693,1.22,4.33,6-2 7-5 6-4
151,Wimbledon,2025-07-05,Grand Slam,Outdoor,Grass,3rd Round,5,Fucsovics M.,Shelton B.,Shelton B.,105,10,564,3130,3.60,1.30,3-6 6-7 2-6
152,Wimbledon,2025-07-07,Grand Slam,Outdoor,Grass,4th Round,5,Shelton B.,Sonego L.,Shelton B.,10,47,3130,1171,1.29,3.75,3-6 6-1 7-6 7-5
153,Wimbledon,2025-07-09,Grand Slam,Outdoor,Grass,Quarterfinals,5,Shelton B.,Sinner J.,Sinner J.,10,1,3130,10430,3.60,1.25,6-7 4-6 4-6

In [12]:
df_shelton['Shelton_Won'] = (df_shelton['Winner'] == 'Shelton B.').astype(int)

In [13]:
surface_stats = df_shelton.groupby('Surface')['Shelton_Won'].agg(['count', 'sum', 'mean'])

In [14]:
surface_stats.columns = ['Total Matches', 'Wins', 'Win Rate']

In [15]:
surface_stats['Win Rate'] = surface_stats['Win Rate'] * 100

display(surface_stats)

         Total Matches  Wins   Win Rate
Surface
Clay                32    16  50.000000
Grass               23    12  52.173913
Hard                99    60  60.606061

In [16]:
overall_win_rate = df_shelton['Shelton_Won'].mean() * 100
print(f"Total Ben's Shelton Winrate: {overall_win_rate:.2f}%")

Total Ben's Shelton Winrate: 57.14%